h1,h3,h4,a,ul,li{
   font-family: 'Courier New', Courier, monospace;
   list-style: none;
   text-decoration: none
}
html,body{
   width: 100%;
   height: 100%;
}
.first{
   width: 100%;
   height: 100%;
   background: black url("../img/bg/first.jpg") no-repeat fixed;
   background-size: 100% 100%;
}
.titles{
   margin-top: 10%;
}
.second{
   width: 100%;
   height: 100%;
   background: black url("../img/bg/second.jpg") no-repeat fixed;
   background-size: 100% 100%;
   position: relative;
}
.uptitles{
   margin-top: 15%;  
}
.uptitles p{
   color: rgb(223, 223, 223);
   font-size: 56px;
   text-shadow: 0 4px 0 rgba(0, 0, 0, 0.65);
   font-weight: 700;
}
.uptitles div{
   color: rgb(223, 223, 223);
   font-size: 20px;
   text-shadow: 0 2px 0 rgba(0, 0, 0, 0.65);
   font-weight: 300;
}
.moviep{
   width: 40%;
   height: 45%;
   background: black url("../img/second/icbg.png") no-repeat;
   background-size: cover;
   border: 3px solid black;
   position: absolute;
   top: 20%;
   right: 5%;
}
.moviep img{
   margin-top:20%;
}
.movies{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   background-color:rgba(0, 0, 0, 0.65);
   display: none;
}
.movies img{
   position: absolute;
   top: 0;
   right: 0;
}
#minecraftUP{
   margin-top:5%;
}
.third{
   width: 100%;
   height: 100%;
   background: black url("../img/bg/third.jpg") no-repeat fixed;
   background-size: 100% 100%;
   position: relative;border-top:1px solid black;
}
.why{
   color: white;
   margin-top: 10%;
   text-shadow: 0 2px 0 rgba(0, 0, 0, 0.65);
   z-index: 5;
}
.why p:first-child{
   font-size: 25px;
   font-weight: 400;
}
.why p:nth-child(2){
   font-size: 45px;
   font-weight: 400;
}
.why p:nth-child(3){
   font-size: 20px;
   font-weight: 200px;
}
.showhow{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   display: none;
}
.sms{
   width: 50%;
   height: 100%;
}
.howleft{
   position: absolute;
   top: 0;
   left: 0;
}
.howright{
   position: absolute;
   top: 0;
   right: 0;
}
.pg1-l,.pg2-r,.pg3-l{
   background-color: rgb(201, 201, 201);
   display: none;
}
.pg1-r{
   background: rgb(255, 255, 255) url("../img/third/p1.jpg") no-repeat;
   background-size: 100% 100%;
   display: none;
}
.shit{
   margin-top: 20%;
}
.howtitle{
   font-size:32px;
   font-weight: 900;
   text-shadow: 0 1px 0 rgba(0, 0, 0, 0.65);
}
.anshowtitle{
   font-size: 18px;
   font-weight: 400;
}
.next{
   margin-top: 10%;
}
.pg2-l{
   background: rgb(255, 255, 255) url("../img/third/p2.jpg") no-repeat;
   background-size: 100% 100%;
   display: none;
}
.pg3-r{
   background: rgb(255, 255, 255) url("../img/third/p3.jpg") no-repeat;
   background-size: 100% 100%;
   display: none;
}
.wheretoplay{
   width: 100%;
   height: 60%;
}
.wheretoplay p{
   text-align: center;
   font-weight: 300;
   font-size: 16px;
   margin-bottom: 0px;
   color: #288123;
}
.wheretoplay h2{
   margin-top: 3%;
}
.wheretoplay h3{
   font-weight: 700;
}
.justbuy{
   width: 100%;
   height: 50%;
   background: black url("../img/last/help.31455c71bfa9.jpg") no-repeat;
   background-size: 100% 100%;
   font-size: 200px;
   text-align: center;
}
.icon{
   width: 45%;
   height: 30%;
   background-color: #36b030;
   box-shadow: 0 -4px rgba(21, 108, 0, 0.5) inset,0 4px rgba(100, 253, 31, 0.99) inset, -4px 0 rgba(100, 253, 31, 0.5) inset, 4px 0 rgba(21, 108, 0, 0.5) inset;
   color: white;
   font-size: 60px;
   line-height: 120px;
   margin-top: 10%;
}
.icon a{
   width: 100%;
   height: 100%;
   font-size: 45px;
   color: white;
   font-weight: 400;
   text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}
.icon a:hover{
   text-decoration: none;
}